@use 'colors';
@use 'sass:color';


table {
    display: table;
    background-color: colors.$accent;
    margin: 0.4em 0;

    box-sizing: border-box;

    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: color.adjust(colors.$accent, $lightness: 80%);
    }
    
    td {
        padding: 0.4em 0.4em;
        border: 1px solid var(--table-border);
    }

}

blockquote {
    border-left: 2px solid var(--container-border);
    padding-left: 1.4em;
    margin-left: 0;
}