@use './colors.scss';

.prosemirror-inline-editor {
    position: absolute;
    display: flex;
    flex-direction: row;
    min-height: 1.2em;

    & > code {
        display: block;

    }
}

/*****************************/
/*        Code Block         */
/*****************************/

.prosemirror-codemirror-codeblock {
    display: block;
    width: 100%;
    background-color: var(--container-background);
    padding: 1em;
    border-radius: 4px;

    .prosemirror-code-selector {
        background-color: transparent;
        border: none;
        display: block;
        padding: 0.4em 0.6em;
        margin-bottom: 0.6em;
        border-radius: 2px;

        &:hover {
            background-color: var(--background-control-highlight);
        }
    }
}

.prosemirror-prompter {
  position: absolute;
    opacity: 0.5;
  z-index: -1;
}